<div id="about-me">
    <div class="jumbotron about-jumbo">
        <div class="text-center">
            <h3>Life is a Continuous Learning Experience</h3>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <h3 class="text-center">Learning</h3>
            <p class="text-center">I wake up eager to learn new things every day, from everyone I meet. I believe a person should never stops growing in both their ability and character, there is always room for improvement. The right attitude and persistence can help you learn and complete any challenge.</p>
            <h3 class="text-center">Why I Love The Tech World</h3>
            <p class="text-center">For me one of the most rewarding things about my field of work is completing challenges for the various projects I work on. It is fun to work with a team that collaborates on ideas and shares skills. The chance to learn new technology and make small ideas come to life is an exciting line of work</p>
            <h3 class="text-center">Down Time</h3>
            <p class="text-center"> I love living by the Jersey shore, it gives me the opportunity to decompress and be outside. I enjoy spending time with friends and family on the weekends spending my spare time fishing, hiking, camping, watching hockey, snowboarding and other outdoor activities. I love to travel and hope to make more time for it in the future. </p>
            <h3 class="text-center">Other Work</h3>
            <p class="text-center">My work is not limited to just working behind a computer, I really enjoy working on renovating houses and other handy work</p>
        </div>
    </div>
</div>

