body {

}

a {
  color: #00B7FF;
}
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.wolf {
  z-index: 100;
  position: absolute;
  left: 50%;
}

.wolf img {
  top: -10px;
  width: 50px;
  left: -25px;
  position: relative;
}

@media (max-width: 768px) {
    .wolf {
      left: 20px;
      top: 0;
    }
}
