<div class="hero-home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collaps" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <a class="navbar-brand wolf" [routerLink]="['']">
                <img alt="Brand" src="../../../images/wolf-emblem.png">
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div [collapse]="isCollapsed" [class.collapese-menu]="!isCollapsed" id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['']">Home</a></li>
                    <li><a [routerLink]="['/about']">About Me</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/skills']">Skills</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <h3>Peter W Borodich</h3>
    <p>Full Stack Javascript Developer</p>
</div>

<div class="container home-featurette">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">MEAN Stack. <span class="text-muted">My go to javascript stack.</span></h2>
            <p class="lead">This is the current stack that I choose to do all of my development in. I find it very easy to use and the community support to be excellent. I have recently added Angular2 to my mean stack and love what I see so far. I am using it for this web page! <a [routerLink]="['/skills']">See what tech work with.</a></p>
        </div>
        <div class="col-md-5">
            <div class="crop center-block">
                <img class="featurette-image img-responsive center-block" src="images/mean_stack.jpg" data-holder-rendered="true">
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
            <h2 class="featurette-heading">Life <span class="text-muted">Learning. Exploring. Growing.</span></h2>
            <p class="lead">Whenever I get the opportunity I travel. Most of my trips are spontaneous by getting last minute deals, which is exciting because you never know where you will end up. Staying active is a big part of my life. I enjoy being outdoors all times of the year, whether its at the beach, snowboarding in the winter or hiking a great trail. <a [routerLink]="['/about']">Learn more about me.</a></p>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <div class="crop center-block">
                <img class="featurette-image img-responsive center-block" alt="500x500" src="images/personal1.jpg" data-holder-rendered="true">
            </div>
        </div>
    </div>

</div>




