.hero-home {
    font-family: 'Amatic SC', cursive !important;
    color: white;
    height: 100vh;
    background-image: url("images/person-beach.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.collapese-menu {
    background-color: white;
}

.collapese-menu a {
    color: #000000 !important;
}

.hero-home h3 {
    font-size: 55px;
    font-weight: bold;
}

.hero-home p {
    font-size: x-large;
}

.hero-home nav {
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
}

.hero-home nav a {
    font-size: 25px;
    color: white;
}

.crop {
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.crop img {
    height: auto;
    width: 400px;
}