<div class="jumbotron contact-jumbo">
    <div class="container">
        <h1>Drop a Message</h1>
        <p>Always looking to connect with new exciting opportunities and people</p>
    </div> <!-- container -->
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p><img src="/assets/profile.png" class="img-responsive" alt="profilePic" style="display: block; max-width: 180px; height: auto;"></p>
            <p>
                <a href="https://github.com/PwBwolf"><i class="fa fa-github-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/peterwborodich"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="mailto:pwborodich@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
            </p>
        </div>
        <div class="col-xs-6">
            <address>
                <h3>Location</h3>
                <p class="lead">
                    415 17th Ave<br>
                    Lake Como, NJ 07719<br>
                    Phone: 908-216-0892<br></p>
            </address>
        </div>

    </div>

</div>